/* File: style.css: basic styles for plant-moons-proto */

.light-mode {
  background: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.75);
}

.dark-mode {
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.95);
}

.page-title {
  text-align: center;
  margin-top: 20px;
}

.graph-root {
  /* border: 1px dashed red; */
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-center {
  text-align: center;
}