/* File: style.css: basic styles for plant-moons-proto */

.light-mode {
  background: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.75);
}

.dark-mode {
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.95);
}

.page-title {
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

.graph-root {
  /* border: 1px dashed red; */
  position: absolute;
  top: 120px;
  right: 100px;
  bottom: 100px;
  left: 100px;

}

.btn-demo {
  background: rgb(0, 0, 255);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 100px;
  outline: none;
}
